body{
  background-color: rgb(238, 238, 238);
  position: absolute;
}.header{
  width: 100%;
  height: 180px;
}
.container{
  position: relative;
}
.title{
  position: relative;
  top: 125px;
  z-index:1;
  text-align: center;
  margin: auto;
  color:white;
  font-size: 1*px;
  letter-spacing: 0.9px;
  font-weight: bold;
  text-shadow: 0px 0px 5px black;
}

#herbal-pic{
  position: absolute;
  top: -8px;
  left: -8px;
  scale: 1.1;
  width: 100%;
  height: 160px;
  object-fit: cover;
  z-index: -1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro{
  margin-top: 20px;
  border-radius: 8px;
  width: 100%;
  height: 100px;
  background-color: white;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: rgb(4, 58, 4);
}

.direction{
  color: rgb(4, 58, 4);
  text-align: center;
  line-height: 10px;
}

.direction h3{
  font-weight: bolder;
  letter-spacing:0.6px;
}

.options{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.symptoms{
  height: 100px;
  width: 118px;
  border: 2px solid rgba(0, 0, 0, 0.434);
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.btn{
  margin-top: 30px;
  width: 70%;
  height: 40px;
  background-color: rgb(0, 141, 0);
  color: white;
  font-weight: bold;
  font-size: 17px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  display: flex;
}

.btn p{
  margin: auto;
}

#search{
  display:inline;
  padding-left:10%;
}

.symptoms img{
  width: 100px;
  height: 80px;
  object-fit: cover;
}

.text{
  color:rgb(0, 57, 0) ;
}

.selected{
  background-color:rgba(8, 255, 8, 0.221);
  border: 2px solid rgb(0, 141, 0);
}

.footer{
  height: 60px;
  width: 100%;
  background-color: white;
  text-align: center;
  color: rgba(0, 0, 0, 0.763);
  justify-content: center;
  align-items: center;
  display: flex;
}










.popup .image img{
  width: 60px;
  height: 60px; 
  border-radius: 30px;
  margin-top: 20px;
  border: 2px solid rgba(210, 210, 210, 0.508);
}
.popup{
  z-index: 10;
  position: fixed;
  top: 10%;
  /* display: flex; */
  /* flex-direction: column; */
  justify-self: center;


  text-align: center;
  background-color: white;
  width: 90%;
  max-width: 500px;
  border: 1px solid rgb(138, 138, 138);
  border-radius:20px ;
  box-shadow: 0 0 10000px black;
}

.popup h2{
  text-align: center;
  margin-top: 20px;
  color: black;
  font-weight: bolder;
  font-size: 20px;
}

.varient-name , .tips{
  background-color:rgba(0, 255, 0, 0.404);
  text-align: center;
  width: fit-content;
  margin: auto;
  padding: 0 8px 0 8px;
  border-radius:16px ;
}

.varient-name h3{
  padding: 5px;
}

.content p{
  text-align: start;
  margin: 15px;
  padding: 5px;
}
.danda{
  opacity: 0.3;
}
.grids{
  display: flex;
  width: 95%;
  margin: auto;
  gap: 10px;;
  justify-content: center;
}

.tips{
  margin: 15px;
  width: fit-content;
  padding: 10px;
  line-height: 4px;
}

.tips h3{
  font-weight: bolder;
  letter-spacing: 0.5px;
  text-align: start;
}
.list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}
.close-popup{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self:center ;
}

#varient-4 .content .varient-name , #varient-4 .content .tips{
  background-color:rgba(17, 231, 46, 0.419);
}
#varient-4{
  display: none;
}

#varient-3 .content .varient-name , #varient-3 .content .tips{
  background-color:rgba(0, 187, 255, 0.205);
}
#varient-3{
  display: none;
}

#varient-2 .content .varient-name , #varient-2 .content .tips{
  background-color:rgba(255, 0, 0, 0.205);}

#varient-2{
  display: none;
}


#varient-1 .content .varient-name , #varient-1 .content .tips{
  background-color:rgba(245, 255, 51, 0.512);}
#varient-1{
  display: none;
}