*{background-color: rgb(241, 241, 241);}
.container{
  position: sticky;
}
.header{
  border: 2px solid rgb(0, 218, 0);
  text-align: center;
  color: white;
  background-color: rgb(0, 218, 0);
  position: relative;
  top: -8px;
  left: -8px;
  width: calc(100% + 16px);
}

.header h1{
background-color: rgb(0, 218, 0);
font-family: Georgia, 'Times New Roman', Times, serif;}

#herbal-pic{
  width: 100%;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.symptoms{
  height: 100px;
  width: 120px;
  border: 2px solid rgb(0, 218, 0);
  background-color: white;
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.btn{
  width: 70%;
  height: 40px;
  background-color: rgb(0, 218, 0);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  ;
}
.symptoms img{
  width: 100px;
  height: 80px;
  object-fit: cover;
}


.selected{
  background-color:rgba(8, 255, 8, 0.221);
}