body{
  background-color: rgb(238, 238, 238);
  position: absolute;
}.header{
  width: 100%;
  height: 180px;
}
.container{
  position: relative;
}
.title{
  position: relative;
  top: 125px;
  z-index:1;
  text-align: center;
  margin: auto;
  color:white;
  font-size: 1*px;
  letter-spacing: 0.9px;
  font-weight: bold;
  text-shadow: 0px 0px 5px black;
}

#herbal-pic{
  position: absolute;
  top: -8px;
  left: -8px;
  width: 104.3%;
  height: 160px;
  object-fit: cover;
  z-index: -1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro{
  margin-top: 20px;
  border-radius: 8px;
  width: 100%;
  height: 100px;
  background-color: white;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: rgb(4, 58, 4);
}

.direction{
  color: rgb(4, 58, 4);
  text-align: center;
  line-height: 10px;
}

.direction h3{
  font-weight: bolder;
  letter-spacing:0.6px;
}

.options{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.symptoms{
  height: 100px;
  width: 120px;
  border: 1px solid rgb(0, 141, 0);
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.btn{
  margin-top: 30px;
  width: 70%;
  height: 40px;
  background-color: rgb(0, 141, 0);
  color: white;
  font-weight: bold;
  font-size: 17px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  display: flex;
}

.btn p{
  margin: auto;
}

#search{
  display:inline;
  padding-left:10%;
}

.symptoms img{
  width: 100px;
  height: 80px;
  object-fit: cover;
}

.text{
  color:rgb(0, 57, 0) ;
}

.selected{
  background-color:rgba(8, 255, 8, 0.221);
  border: 2px solid rgb(0, 141, 0);
}

.footer{
  height: 60px;
  width: 104%;
  background-color: white;
  text-align: center;
  color: rgba(0, 0, 0, 0.763);
  justify-content: center;
  align-items: center;
  display: flex;
}